body {
    background: rgb(203, 195, 195);
}

header {
    display: flex;
    font-family:'Lucida Grande';
    justify-content: space-around;
}

article1 {
    background: rgb(171, 174, 171);
    justify-content: space-around;
}

#coordonnees {
    display: flex;
    justify-content: space-around;
    background: rgb(144, 140, 140);
}

article3 {
    display: flex;
    justify-content: space-around;
}

#intro {
    text-align: center;
}

.small {
    font-size: small;
}

#image {
    border-radius: 50%;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
@keyframes changeColor {
    0% {
        color: #3498db;
    }
    33% {
        color: #e74c3c;
    }
    66% {
        color: #852365;
    }
    100% {
        color: #3498db;
    }
}
#name {
    
    animation: changeColor 3s infinite;
} 
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        left: -200px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
#exp {
    opacity: 0; 
    position: relative;
    animation: slideInFromLeft 3s ease-out forwards;
}
#competence {
    opacity: 0;
     position: relative;
     animation: slideInFromLeft 3s ease-out forwards;
}
@keyframes growText {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 40px;
    }
    100% {
        font-size: 20px;
    }
}
#titre {
    animation: growText 2s ease-out forwards;
}
@media (min-width:320px)and (max-width:720px){
    #coordonnees{
        display:block;
    }
    article3{
        display:block;
    }
}

.contact-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #578b3d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
}

.contact-button:hover {
    background-color: #0056b3;
}


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff5c5c;
    color: white;
    border: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    line-height: 1;
}

.popup-overlay.active {
    display: flex;
}